

<div class="estilosapp2">
 
 
 <!-- PARCIAL HEADER --> 
 <%= render "shared/header" %>


<div class="container"> 
 

<div class="controladorej2">

 <div class="boxp">
    <div class="alert"><i class="fa fa-home fa-1x color-teal"></i>&nbsp;Listado Comentarios</div>  
    <table class="table table-bordered table-hover table-striped">
      <thead class="bg-danger">
        <tr>
          <th>Id</th>
          <th>Comentario</th> 
          <th></th>
        </tr>
      </thead>
      <tbody>
       <% @comments.each do |co| %>
          <tr>
            <td><%= co.id  %> </td>
            <td>
              <%= co.comment %>
            </td>
             
            <td align="center">
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Nuevo Comentario', new_comment_path, title:"Añade una nuevo comentario !!", class:"btn btn-sm btn-danger" %>
    
</div> <!-- end box -->     




<!-- PARCIAL FOOTER --> 
<%= render "shared/footer" %>


</div> <!-- end container -->
  
</div> <!-- end controladorej2 -->

 



  
</div> <!-- end estilosapp2 -->